[Unit]
Description=Simple lumberjill.rb service.
After=maul.rb.service

[Service]
ExecStart=/usr/local/bin/lumberjill.rb

[Install]
WantedBy=default.target
